@media screen and (min-width: 1500px) {
  // Index
  .name {
    font-size: 2.4rem;
  }
  .btn {
    font-size: 1.5rem;
  }
  // Web Portfolio
  .btns-web {
    font-size: 1.5rem;
    &-right {
      padding: 1rem 2.4rem;
    }
  }

  .social-web {
    a {
      font-size: 1.5rem;
      padding: 0.4rem;
    }
  }

  .name-content-web {
    .name-design-web {
      font-size: 4rem;
    }
    .description-web {
      font-size: 1.5rem;
    }
  }
  .right-web {
    .work {
      h1 {
        font-size: 2.6rem;
      }
      .type {
        .showcase-title {
          .title {
            font-size: 1.8rem;
          }
          .year {
            font-size: 1.5rem;
          }
        }
        .content {
          font-size: 1.5rem;
        }
        .links-web {
          font-size: 1.5rem;
        }
        .tech-web-text {
          font-size: 1.1rem;
        }
      }
      .more-coming-web {
        font-size: 2.2rem;
      }
    }
  }
}

@media screen and (max-width: 824px) {
  .name {
    font-size: 1.8rem;
  }
  .cursor {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .name {
    font-size: 1rem;
    margin: auto;
    .text {
      padding: auto 5rem;
    }
  }

  .split {
    height: 50%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
  }

  .left {
    &-index,
    &-design {
      left: 0;
      background-color: $dark-color;
      .center {
        margin: auto;
      }
    }
    &-web {
      background-color: $light-color;
    }
  }

  .right {
    right: 0;
    &-index,
    &-design {
      right: 0;
      top: 50%;
      background-color: $light-color;
    }
    &-web {
      top: 50%;
      background-color: $dark-color;
    }
  }

  .btn {
    padding: 0.8rem 1.8rem;
    font-size: 0.8rem;
  }
}
