@media screen and (max-width: 824px) {
  .name {
    font-size: 1.8rem;
  }
  .cursor {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .name {
    font-size: 1rem;
    margin: auto;
    .text {
      padding: auto 5rem;
    }
  }

  .split {
    height: 50%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
  }

  .left {
    &-index,
    &-design {
      left: 0;
      background-color: $dark-color;
      .center {
        margin: auto;
      }
    }
    &-web {
      background-color: $light-color;
    }
  }

  .right {
    right: 0;
    &-index,
    &-design {
      right: 0;
      top: 50%;
      background-color: $light-color;
    }
    &-web {
      top: 50%;
      background-color: $dark-color;
    }
  }

  .btn {
    padding: 0.8rem 1.8rem;
    font-size: 0.8rem;
  }
}
