@import "config";

.sections {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .about-me {
    background: $dark-color;
    padding: 1rem;
    border-radius: 0 0 10px 0;
    width: 15.625rem;
    clip-path: polygon(0 0, 30% 0%, 30% 35%, 0% 35%);
    transition: all 0.5s ease-out;

    &:hover {
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
      background: $light-color;
    }

    p {
      color: $dark-color;
      font-weight: 600;
      margin: 0;
    }

    span {
      top: 0px;
      left: 0px;
      color: $light-color;
      font-weight: 600;
      transition: color 0.5s;
      position: relative;
      margin: 0;
    }
    &:hover span {
      color: $dark-color;
    }
  }
  .know-me {
    background: $dark-color;
    padding: 1rem;
    border-radius: 0 15px 0 0;
    width: 300px;
    clip-path: polygon(0 85%, 50% 85%, 50% 100%, 0% 100%);
    transition: all 0.5s ease-out;

    &:hover {
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
      background: $light-color;
    }

    ul {
      text-align: center;
      list-style: none;
      color: $dark-color;
      font-weight: 600;
      margin: auto;
    }

    li {
      &:nth-child(6) {
        padding-top: 0;
      }
      i {
        margin-right: 0.2rem;
      }
      padding: 0.4rem 0 0 0;
    }

    span {
      top: 0px;
      left: 0px;
      color: $light-color;
      font-weight: 600;
      transition: color 0.5s;
      position: relative;
      margin: 0;
    }
    &:hover span {
      color: $dark-color;
    }
  }
}
.sections2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  a {
    text-decoration: none;
    color: $light-color;
    font-weight: 600;
    i {
      padding-right: 0.2rem;
    }
  }

  li {
    list-style: none;
    padding-top: 0.4rem 0;
  }

  .contact-me {
    background: $light-color;
    padding: 1rem;
    border-radius: 0 0 0 10px;
    width: 15.625rem;
    clip-path: polygon(35% 0, 100% 0%, 100% 30%, 35% 30%);
    transition: all 0.5s ease-out;
    margin-left: auto;

    &:hover {
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
      background: $dark-color;
    }

    p {
      color: $light-color;
      font-weight: 600;
      margin: 0;
    }

    span {
      top: 0px;
      left: 0px;
      color: $dark-color;
      font-weight: 600;
      transition: color 0.5s;
      position: relative;
      margin: 0;
    }
    &:hover span {
      color: $light-color;
    }
  }
  .resume {
    background: $light-color;
    padding: 1rem;
    border-radius: 0 0 0 0;
    width: 200px;
    clip-path: polygon(30% 50%, 100% 50%, 100% 100%, 30% 100%);
    transition: all 0.5s ease-out;
    margin-left: auto;

    &:hover {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      background: $dark-color;
    }

    span {
      top: 0px;
      left: 0px;
      color: $dark-color;
      font-weight: 600;
      transition: color 0.5s;
      position: relative;
      margin: 0;
    }
    &:hover span {
      color: $light-color;
    }
  }
}
