.split {
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
}

.left {
  &-index,
  &-design {
    background-color: $dark-color;
    position: fixed;
    .center {
      margin: auto;
    }
  }
  &-web {
    background-color: $light-color;
  }
}

.right {
  right: 0;
  &-index,
  &-design {
    background-color: $light-color;
    min-height: 100vh;
    overflow-y: auto;
  }
  &-web {
    background-color: $dark-color;
  }
}
