@import "config";

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

%btn-shared {
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  cursor: none;
  font-weight: 600;
  margin: auto;
  padding: 1rem 4rem;
  text-decoration: none;
}

.btn {
  transition: all 0.3s ease;
  &-left {
    @extend %btn-shared;
    border: solid 2px $light-color;
    color: $light-color;
  }
  &-right {
    @extend %btn-shared;
    border: solid 2px $dark-color;
    color: $dark-color;
  }
}

span {
  pointer-events: none;
  // transition: transform 0.1s linear;
  display: inline-block;
}

.cursor {
  pointer-events: none;
  width: 20px;
  height: 20px;
  background: $pointer-collor;
  border-radius: 50%;
  position: fixed;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
  z-index: 20000;
}

.btn:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(2);
}
