@import "config";
@import "utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Raleway", sans-serif;
  height: 100%;
  cursor: none;
}

.name {
  position: absolute;
  font-family: "Holtwood One SC", serif;
  text-shadow: 2px 2px 0px rgba(186, 19, 0, 1);
  padding: 1rem;
  text-align: center;
  z-index: 1000;
  color: $yellow-color;
  left: 50%;
  transform: translate(-50%);
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -10;
  top: 0;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: $dark-color;
}

.right {
  right: 0;
  background-color: $light-color;
}

.name:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(4);
}

.about-me {
  background: $light-color;
  padding: 1rem;
  border-radius: 0 15px 15px 0;
  width: 15.625rem;
  clip-path: circle(25% at 0% 0%);
  transition: all 0.5s ease-out;

  &:hover {
    clip-path: circle(100%);
    background: $light-color;
  }

  h2 {
    color: $dark-color;
    margin: 0;
  }

  p {
    color: $dark-color;
    margin: 0;
  }

  span {
    top: 0px;
    left: 0px;
    color: $yellow-color;
    font-weight: 600;
    transition: color 0.5s;
    position: relative;
    margin: 0;
  }
  &:hover span {
    color: $light-color;
  }
}
