@import "config";
@import "utilities";
@import "menus";
@import "modal";
@import "design";
@import "scrollbar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Raleway", sans-serif;
  height: 100%;
  cursor: none;
}

.name {
  position: absolute;
  font-family: "Holtwood One SC", serif;
  text-shadow: 2px 2px 0px rgba(186, 19, 0, 1);
  padding: 1rem;
  text-align: center;
  z-index: 1000;
  color: $yellow-color;
  left: 50%;
  transform: translate(-50%);
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -10;
  top: 0;
  padding-top: 0;
}

.left {
  left: 0;
  background-color: $dark-color;
}

.right {
  right: 0;
  background-color: $light-color;
}

.name:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(4);
}
