@import "config";
@import "utilities";
@import "splitscreens";
@import "menus";
@import "modal";
@import "design";
@import "scrollbar";
@import "inner";
@import "sal";
@import "web";
@import "index";
@import "nav";
@import "aboutskills";
@import "contact-resume";
@import "media";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Raleway", sans-serif;
  height: 100%;
}
